[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
local_net=10.0.0.0/8
local_net=172.16.0.0/12
local_net=192.168.0.0/16

[issabel]
type=endpoint
context=from-issabel
disallow=all
allow=ulaw
allow=alaw
allow=gsm
auth=issabel-auth
aors=issabel-aor
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
language=es

[issabel-auth]
type=auth
auth_type=userpass
username=__TRUNK_USER__
password=__TRUNK_SECRET__

[issabel-aor]
type=aor
contact=sip:__ISSABEL_HOST__:5060
qualify_frequency=30
max_contacts=5

[issabel-identify]
type=identify
endpoint=issabel
match=__ISSABEL_HOST__
