[Unit]
Description=IVR de turnos diario 00:05
Requires=ivr-farmacias-diario.service

[Timer]
OnCalendar=00:05:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
